/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
